.txtImageContent {
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
}

.txtImage {
    margin-bottom: rem(48px);
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    &:nth-child(even){
        margin-bottom: 0; 
    }
    @include respond-above(s) {
        margin-bottom: 0;
        margin-right: 8px;
        width: calc(50% - 8px);
        &:nth-child(even){
            margin-right: 0;
            margin-left: 8px;
        }
    }

}

.txtImage__img {
    width: 100%;
    display: block;
}

.txtImage__text {
    display: block;
    margin-top: 8px;
    @include text;
}