/* --------------------------------
Import font
-------------------------------- */


@font-face {
    font-family: 'Söhne-Buch';
    src: url('../fonts/Söhne-Buch.otf') format('otf');
        //  url('#{$urlSansSerifMedium}.ttf') format('truetype');
    // url('#{$urlSansSerifMedium}.svg#GTASMedium') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$sansSerifRegular: 'Söhne-Buch', Arial;



@mixin sansSerifRegular {
    font-family: $sansSerifRegular;  
}

$text-base-size: 16px;

/* type scale */

@function rem($size) {
    @return #{$size / $text-base-size}rem;
}


@mixin text {
    @include sansSerifRegular;
    font-size: rem(20px);
    line-height: rem(32px);
    @include respond-above(s) {
        font-size: rem(20px);
        line-height: rem(32px);
    }
    @include respond-above(xxm) {
        font-size: rem(28px);
        line-height: rem(42px);
    }
}

@mixin menu {
    @include sansSerifRegular;
    text-transform: uppercase;
    font-size: rem(18px);
    line-height: rem(25px);
    @include respond-above(m) {
        font-size: rem(18px);
        line-height: rem(25px);
    }
    @include respond-above(xxm) {
        font-size: rem(18px);
        line-height: rem(25px);
    }
}

