// import global style
// Import Global
@import '_global/reset';
@import '_global/variables';
@import '_global/mixin';
@import '_global/typography';


// Import Modules
@import '../_modules/header/header';
@import '../_modules/textDouble/textDouble';
@import '../_modules/txtImage/txtImage';
@import '../_modules/spaceModule/spaceModule';
@import '../_modules/doubleModule/doubleModule';
@import '../_modules/fullModule/fullModule';
@import '../_modules/infoList/infoList';
@import '../_modules/linkText/linkText';
@import '../_modules/toggleColor/toggleColor';


.mainContent {
    padding: 0 rem(16px);
}

body {
    background-color: black;
    color: white;
    transition: all 1s ease;
    &.change-color {
        background-color: white;
        color: black;
    }
  }
  

.spacer {
    height: 48px;
    @include respond-above(s) {
        height: 64px;
    }
    @include respond-above(l) {
        height: 96px;
    }
}  

.footer__text {
    @include menu;
}

.mainContent {
    padding: 0 rem(16px);
}

.listPage {
    padding: 40px
}
.titleListPage {
    @include text;
    margin-bottom: 120px
}

.listPage__page {
    margin-bottom: 60px;
    @include menu;
    .listPage__linkPage {
        color: white;
    }

}


.contact__text {
    //width: 75%;
    @include text;
}

.contact__wrapperLink {
    display: flex;
    flex-direction: column;
    @include respond-above(s) {
        flex-direction: row;
    }
}

.contact__contentLink {
    width: 100%;
    margin-bottom: 48px;
    &:last-child {
        margin-bottom: 0;
    }
    @include respond-above(s) { 
        width: 50%;
        margin-bottom: 0;
    }
}