.headerNav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    @include menu;
    position: relative;
    z-index: 100;
    padding: 13px 0;
}

.headerNav__menu {
    display: flex;
    flex-direction: row;
}

.headerNav__item {
    margin-right: rem(24px);
    &:last-child{
        margin-right: 0;
    }
}