.spaceModule {
    text-align: center;
    margin: 0 auto 32px;
    @include respond-above(s) {
        margin: 0 auto 64px;
    }
}

.spaceModule__contet {
    width: 100%;
    @include respond-above(s) {
        width: 50%;
        margin: 0 auto;
    }

}

// .spaceModule__img {
//     width: 100%;
// }